<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet01</servlet-name>
        <servlet-class>servlets.Servlet01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerImpimage</servlet-name>
        <servlet-class>servlets.SerImpimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet02</servlet-name>
        <servlet-class>servlets.Servlet02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet03</servlet-name>
        <servlet-class>servlets.Servlet03</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet04</servlet-name>
        <servlet-class>servlets.Servlet04</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet05</servlet-name>
        <servlet-class>servlets.Servlet05</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet06</servlet-name>
        <servlet-class>servlets.Servlet06</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerImpimage</servlet-name>
        <url-pattern>/SerImpimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet01</servlet-name>
        <url-pattern>/s01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet02</servlet-name>
        <url-pattern>/s02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet03</servlet-name>
        <url-pattern>/s03</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet04</servlet-name>
        <url-pattern>/s04</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet05</servlet-name>
        <url-pattern>/s05</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet06</servlet-name>
        <url-pattern>/s06</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
